.search-dropdown
	h1.search-dropdown-title SEARCH / DROP DOWN
	.search-form
		input(type="search" placeholder="Search" class="input-search")
		button(type="submit" class="search-submit")
	.search-form
		input(type="search" placeholder="Search" class="input-search input-search_failed" id="input-search_failed")
		button(type="submit" class="search-submit")
	.select-wrapper
		select(name="select" class="select")
			option(value="" hidden disabled selected) Choose An Option
			option(value="option1") Option 1
			option(value="option2") Option 2
			option(value="option3") Option 3
			option(value="option4") Option 4