.arrows
	h1.arrows-title ARROW BUTTONS
	ul.arrows-wrapper
		li.arrow-wrapper
			a.arrow.arrow-left.arrow-white
		li.arrow-wrapper
			a.arrow.arrow-right.arrow-white
		li.arrow-wrapper
			a.arrow.arrow-left.arrow-grey
		li.arrow-wrapper
			a.arrow.arrow-right.arrow-grey
		li.arrow-wrapper
			a.arrow.arrow-left.arrow-green
		li.arrow-wrapper
			a.arrow.arrow-right.arrow-green