.toggles
	h1.toggles-title TOGGLES
	.toggles-wrapper
		.toggle
			<input type="checkbox" class="toggle-checkbox">
			.toggle-knobs
			.toggle-layer
		.toggle
			<input type="checkbox" class="toggle-checkbox" checked>
			.toggle-knobs
			.toggle-layer

