mixin menu()
	a(href="./index.html").header-logo
	nav.header-menu
		a(href="./index.html").link.link-main Главная
		a(href="./projects.html").link.link-second Новостройки
		a(href="#").link.link-third Третья
		a(href="#").link.link-fourth Четвертая