.user-profile-wrapper
	h1.user-profile-title USER PROFILE
	.user-profile.user-profile_grey
		.user-profile__picture
		.user-profile__info
			h2.user-profile__name John Smith
			p.user-profile__position UX DESIGNER
			.social-links
				.social-facebook
				.social-twitter
				.social-dribble
	.user-profile.user-profile_green
		.user-profile__picture
		.user-profile__info
			h2.user-profile__name Sarah Brown
			p.user-profile__position DEVELOPER
			.social-links
				.social-facebook
				.social-twitter.social-twitter_orange
				.social-dribble