.charts
	h1.charts-title PERCENTAGES / PIE CHART
	ul.charts-wrapper
		li.pie(style='--value: "0"; --size: 100')
			.pie__segment(style='--offset: 0; --value: 0; --over50: 0; --bg: #e75735;')
		li.pie(style='--value: "38"; --size: 100')
			.pie__segment(style='--offset: 0; --value: 38; --over50: 0; --bg: #e75735;')
		li.pie(style='--value: "62"; --size: 100')
			.pie__segment(style='--offset: 0; --value: 62; --over50: 1; --bg: #e75735;')
		li.pie(style='--value: "89"; --size: 100')
			.pie__segment(style='--offset: 0; --value: 89; --over50: 1; --bg: #e75735;')
		li.pie.multisectoral(style='--size: 100')
			.pie__segment(style='--offset: 0; --value: 15; --over50: 0; --bg: #747474;')
			.pie__segment(style='--offset: 15; --value: 20; --over50: 0; --bg: #e75735;')
			.pie__segment(style='--offset: 35; --value: 40; --over50: 0; --bg: #4eb7a8;')
			.pie__segment(style='--offset: 75; --value: 25; --over50: 0; --bg: #e5e5e5;')