include button-mixin

.buttons
	h1.buttons__title STANDARD BUTTONS
	.template-buttons__wrapper
		.button-wrapper
			+button({size: 'small', color: 'green', borderColor: 'none', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'big', color: 'green', borderColor: 'none', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'big', color: 'orange', borderColor: 'none', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'small', color: 'orange', borderColor: 'none', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'small', color: 'green', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'big', color: 'green', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'big', color: 'orange', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'small', color: 'orange', text: 'BUTTON'})
		.button-wrapper
			+button({size: 'small', color: 'white', borderColor: 'green', text: 'BUTTON', buttonColor: 'green'})
		.button-wrapper
			+button({size: 'big', color: 'white', borderColor: 'green', text: 'BUTTON', buttonColor: 'green'})
		.button-wrapper
			+button({size: 'big', color: 'white', borderColor: 'orange', text: 'BUTTON', buttonColor: 'orange'})
		.button-wrapper
			+button({size: 'small', color: 'white', borderColor: 'orange', text: 'BUTTON', buttonColor: 'orange'})
	
