.buttons
	h1.buttons__title STANDARD BUTTONS
	ul.template-buttons__wrapper
		li.button.float-button-light.button_small.button_green BUTTON
		li.button.float-button-light.button_big.button_green BUTTON
		li.button.float-button-light.button_big.button_orange BUTTON
		li.button.float-button-light.button_small.button_orange BUTTON
		li.button.float-button-light.button_small.button_green.button-border_green BUTTON
		li.button.float-button-light.button_big.button_green.button-border_green BUTTON
		li.button.float-button-light.button_big.button_orange.button-border_orange BUTTON
		li.button.float-button-light.button_small.button_orange.button-border_orange BUTTON
		li.button.float-button-light.button_small.button_white.button-border_green.button-color_green BUTTON
		li.button.float-button-light.button_big.button_white.button-border_green.button-color_green BUTTON
		li.button.float-button-light.button_big.button_white.button-border_orange.button-color_orange BUTTON
		li.button.float-button-light.button_small.button_white.button-border_orange.button-color_orange BUTTON