.tick-boxes
	h1.tick-boxes-title TICK BOXES
	.tick-boxes-wrapper
		input(type="checkbox" id="checkbox-1" hidden)
		label(for="checkbox-1" id="tick-box-1" class="tick-box")
		input(type="checkbox" id="checkbox-2" hidden checked)
		label(for="checkbox-2" id="tick-box-2" class="tick-box")