.tick-boxes
	h1.tick-boxes-title TICK BOXES
	.tick-boxes-wrapper
		input(type="checkbox" id="checkbox" hidden)
		label(for="checkbox" class="tick-box")
		input(type="checkbox" id="checkbox" hidden checked)
		label(for="checkbox" class="tick-box")