.sliders
	h1.sliders-title SLIDERS
	.sliders-wrapper
		.slider-orange
			.slider1
				a(class="ui-slider-handle" href="#")
					#slider-result1 0
				input(id="slider1" name="slider1" type="hidden")
		.slider-green
			.slider2
				a(class="ui-slider-handle" href="#")
				.percentage
					.percent 0
					.percent 25
					.percent 50
					.percent 75
					.percent 100
				input(id="slider2" name="slider2" type="hidden")
