<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title FSD-Frontend-2-step-second-website
		meta(name="viewport" content="width=device-width")
	body
		.container.video-container
			header.header
				include ../components/menu/menu-mixin
				+menu

			.content.content-video
				.messenger-wrapper
					.messenger-button Напишите нам сообщение
					include ../components/messaging/messaging-mixin
					+messenger({name: 'Консультант', message: 'Оставьте свое сообщение в этой форме', btnText: 'ОТПРАВИТЬ'})
				.video-wrapper
					h2.video-wrapper__title Видео о жизни в наших кварталах
					.video-item
						.video-item-wrapper
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/QSD0YmUxx1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						p.video-item__name Новогодний переполох в Янила Кантри
					.video-item
						.video-item-wrapper
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/QyFRXxL9GS0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						p.video-item__name Празднование Нового года в Юттери
					.video-item
						.video-item-wrapper
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/_XSJP-7av8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						p.video-item__name Жители Янила Кантри заботятся об экологии
					.video-item
						.video-item-wrapper
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/fzxBmiHLLJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						p.video-item__name Безопасный квартал
				

				
				