.news-block
	.news-block__image
	.news-block__text-bg
		h2.news-block__title It’s all going downhill
		.news-block__date 24  AUGUST  2013
		p.news-block__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
.event-block
	.event-block__image
	.event-block__text-bg
		.event-block__date
			.event-block__date_day 24
			.event-block__date_month Aug
		h2.event-block__title THIS IS THE TITLE
		p.event-block__info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		.event-block__button.button.button_big.button_orange.button-border_green ADD TO CALENDAR
