include news-events-mixin
+news({title: 'It’s all going downhill', date: '24  AUGUST  2013', info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'})
+events({day: '24', month: 'Aug', title: 'THIS IS THE TITLE', info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', btnText: 'ADD TO CALENDAR'})

